[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=/usr/bin/urxvtc "%s"
Icon=urxvtc
Name=urxvtc
X-XFCE-Commands=/usr/bin/urxvtc

